.editor-container {
  border: 1px solid #9299A4;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.editor-wrapper {
  width: 100%;
  height: 100%;
  display: "flex";
  flex-direction: "column";
}

.code-editor-paragraph {
  font-size: 11px;
  margin: 6px 0;
}
.code-editor-paragraph.label{
  color: grey;
}

.code-editor-paragraph.invalid {
  color: red;
  font-style: italic;
  text-align: right;
}

.ace_gutter-layer {
  /* background-color: #B2E5F7; */  
  background-color: #B2E5F7;
}

.ace_active-line {
  background-color: #B2E5F7 !important;
  opacity: 0.3;
}

.ace_gutter-active-line {
  background-color: rgb(82, 199, 241) !important;
}

.ace_line .ace_fold {
  background-image: none;
}
.ace_line .ace_fold:hover {
  background-image: none;
}
.ace-tm .ace_fold {
  background-color: #00AAE6;
}